<%form_remote_tag  :url => {:controller => "admin", :action => "change_reviewer_deadline"},:html =>{:id=>'reviewer_invite_form'} do%>
    <label>Days To Comment</label>
	<%=text_field_tag :comments_deadline,@a_s_r.comments_deadline.strftime('%m/%d/%Y'),:size=>8,:onclick=>"attachSmartCalendar(this,null)"%>
	<%=hidden_field_tag :id,@a_s_r.id%>	
    <%= submit_tag 'Save' -%>	
<%end%>
