<h3>Thanks for completing your Manuscript Submission</h3>

<p>Each author you assigned to this manuscript has been emailed with a special link for them to submit their Financial Disclosure, Author Responsibilities, and Copyright Assignment Forms. As the corresponding author, it's your responsibilty to follow up to be sure they are all completed. You can come back to this site at any time to check the status of your co-authors submissions.</p>

Warm Regards,

<p>The AlphaMed Publishing Editorial Staff</p>

<br />
