<h1>Listing coi_forms</h1>

<table>
  <tr>
  </tr>

<% for coi_form in @coi_forms %>
  <tr>
    <td><%= link_to 'Show', coi_form %></td>
    <td><%= link_to 'Edit', edit_coi_form_path(coi_form) %></td>
    <td><%= link_to 'Delete', coi_form, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New coi_form', new_coi_form_path %>
