<h2><%= get('manuscript_charge_failed_title') -%></h2>
<div class="block"><%= get('manuscript_charge_failed_text') -%></div>
<p><%= button_to "Go back to credit card info", :action => :credit_card, :id => @article_submission.id -%></p>

