<p align="left" class="footer">
  <strong>
        <% if @generating_pdf %>
          <%= image_tag "http://manuscriptsubmissions.theoncologist.com/images/alphamed_infinity_logo_sm.gif", :alt=>''  %>
        <% else %>
	  <%= image_tag 'alphamed_infinity_logo_sm.gif', :alt=>'' -%>
        <% end %>

        AlphaMed Press
  </strong> 318 Blackwell St., Suite 260, Durham, North Carolina 27701-2884 USA 
  <br />

  Telephone: <strong>919.680.0011 </strong>Fax: <strong>919.680.4411 </strong>E-mail: <a href="mailto:Manuscripts@TheOncologist.com">Submissions@TheOncologist.com</a> 
</p>

<%#= render :partial => '/layouts/google_translate' %>
